<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.audiobook_backend.mapper.SignMapper">

    <insert id="addVerification">
        insert into t_verification (id,email,create_time,verification_code) values (null,#{email},#{create_time},#{verification_code})
    </insert>

    <insert id="addUser">
        insert into t_user (username,userId,email,password) values (#{username},null,#{email},#{password})
    </insert>

    <update id="updateVerification">
        update  t_verification set create_time = #{create_time}, verification_code = #{verification_code} where email = #{email}
    </update>

    <update id="updateUserPassword">
        update t_user set password = #{password} where userId = #{userId}
    </update>

    <select id="getIdByEmail" resultType="java.lang.Integer">
        select id from t_verification where email = #{email}
    </select>

    <select id="getVerificationByEmail" resultType="java.lang.String">
        select verification_code from t_verification where email = #{email}
    </select>

    <select id="getEmailByUserId" resultType="java.lang.String">
        select email from t_user where userId = #{userId}
    </select>

    <select id="getCreateTimeByEmail" resultType="java.lang.Long">
        select create_time from t_verification where email = #{email}
    </select>


</mapper>